@import "tailwindcss";
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1536px;

    --animate-infinite-scroll: infinite-scroll 40s linear infinite;

    @keyframes infinite-scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
}

/* Light Theme */
:root {
    --bg: #fcf8f8;
    --sidebar: #ffffff;
    --card: #ffffff;
    --text: #0f172a;
    --muted: #64748b;
    --accent: #0ea5e9;
    --border: #e2e8f0;
    --hover: #f1f5f9;
}

/* Dark Theme */
.dark {
    --bg: #0f172a;
    --sidebar: #1e293b;
    --card: #1e293b;
    --text: #f8fafc;
    --muted: #94a3b8;
    --accent: #38bdf8;
    --border: #334155;
    --hover: #334155;
}